@media screen and (max-width:1000px){
    .nav__img__text b{
        width: 900%;
        transform: translateX(-100px);
    }
    .nav__img__text i{
        /* display: none; */
        transform: translateX(-25px);
    }
    .nav__img__text p{
        transform: translateX(-120px);
        /* display: none; */
    }
    .nav__img__text button{
        width: 500px;
        height: 50px;
        transform: translateX(-50px);
        display: none;
    }
    .tomisa{
        display: none;
    }
    .en_navbari{
        display: block;
    }
    .nav__img__text img{
        transform: translateX(-265px)translateY(-25px);
    }
    .nav_03_1{
        display: none;
    }
    .nav_02{
        display: none;
    }
    .nav_04{
        transform: translateX(-100px);
    }

}
@media screen and (max-width:821px){
    .nav__img__text b{
        width: 100%;
        transform: translateX(-200px);
    }
    .nav__img__text img{
        /* transform: translateX(-55px); */
        display: none;
    }
    .nav_03_2{
        display: none;
    }
    .nav_04_2{
        display: none;
    }
    .nav_33{
        transform: translateX(-50px);
    }
    .nav_33 p{
        display: none;
    }
}
@media screen and (max-width:600px){
    .nav__img__text b{
        display: none;
    }
    .nav__img__text p{
        display: none;
    }
    .yoqol{
        display: block;
        display: flex;
    }
    .yoqol h3{
        transform: translateX(-140px);

    }
    .yoqol i{

        transform: translateX(205px);
    }
    .setting{
        display: block;
    }
    .menu__icon{
        display: block;
    }
    .evs{
        margin-top: 30%;
    }
    .nav_03{
        transform: translateX(-80px);
    }
    .nav_04{
        transform: translateX(-200px);
    }
    .nav_33_3{
        display: none;
    }
    .nav_33_4{
        display: none;
    }
    .nav_33 p{
        display: block;
    }
    /* .nav_44_1 p{
        display: none;
    } */
  
}
@media screen and (max-width:513px){
    .nav_03{
        transform: translateX(-80px);
    }
    .nav_04{
        transform: translateX(-250px);
    }
}
@media screen and (max-width:408px){
    .nav_03_3{
        display: none;
    }
    .nav_04_3{
        display: none;
    }
    .nav__img{
        width: 200%;
        /* margin-left: 45%; */
    }
    .nav__img__text i{
     display: none;
    }
    .yoqol i{
        font-size: 25px;
        margin-left: 105px;
        display: block;
    }
}


